body {
  background-color: #eef2f7;
  font-family: "Segoe UI", sans-serif;
}

.profile-card {
  background: linear-gradient(90deg, #0ea5e9, #3bb4ff, #59c3ff);
  border-radius: 18px;
  color: white;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 16px;
  object-fit: cover;
  border: 3px solid white;
}

.badge {
  font-size: 0.8rem;
  padding: 6px 10px;
  border-radius: 10px;
}
.card {
  border-radius: 15px !important;
}
.progress-bar {
  transition: width 0.6s ease;
  background-color: #007bff;
}

.progress {
  background-color: #e9ecef;
  border-radius: 12px;
  overflow: hidden;
}

.timeline-line {
  border-left: 2px solid #d9d9d9;
  margin-left: 24px;
  padding-left: 24px;
}

.icon-circle {
  width: 35px;
  height: 35px;
  background: #e9f3ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #007bff;
  font-size: 18px;
  margin-right: 15px;
}
.timeline {
  border-left: 2px solid #dce3f1;
  padding-left: 30px;
  position: relative;
}

.timeline-item {
  margin-bottom: 25px;
  position: relative;
}

.timeline-icon {
  width: 45px;
  height: 45px;
  background: #f5f9ff;
  border: 2px solid #dce3f1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -60px;
  top: 10px;
}

.timeline-content {
  background: white;
  border-radius: 12px;
  width: 100%;
}

.skill-badge {
  background: #f1f4ff;
  border: 1px solid #dce3f1;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 6px;
}

.type-badge {
  padding: 6px 10px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  background: #ccf6d9;
  color: #167a38;
}
/* Badge Experience Type */
.experience-type-badge {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px 15px;
  font-size: 13px;
  border-radius: 6px;
  font-weight: 600;
  text-transform: capitalize;
}

/* Color rules based on type */
.experience-type-badge.project {
  background: #d4f6da;
  color: #2a7a3b;
}

.experience-type-badge.internship {
  background: #dceafe;
  color: #2955cc;
}

.experience-type-badge.organization {
  background: #f0d9ff;
  color: #6a2ab6;
}

.experience-type-badge.freelance {
  background: #ffeccc;
  color: #b07207;
}
